<% if !@current_user.admin? %>

	<h1>Feed</h1>
	<% @activities.each do |activity| %>
	  <div class="activity">
	  	<%= render_activity activity if activity.key == "bill.create"%>
	  </div>
	<% end %>

<% else %>

	<h1>Measurements</h1>

	<h4>Avarege consumption </h4>

	<% if @current_user.admin == 1 %>
		<div class="piechart">
		<%= high_chart("echarttariff", @echarttariff) do |c| %>
	        <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
	        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
	    <% end %>
	    </div>
	<% elsif @current_user.admin == 2 %>
	    <div class="piechart">
	    <%= high_chart("wcharttariff", @wcharttariff) do |c| %>
	        <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
	        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
	    <% end %>
	    </div>
	<% elsif @current_user.admin == 3 %>
	    <div class="piechart">
		<%= high_chart("gcharttariff", @gcharttariff) do |c| %>
	        <%= raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ this.y +' %';}"  %>
	        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
	    <% end %>
	    </div>
	<% else %>
	<% end %>

	<div class="averageinfo">

	    <%= high_chart("bartariff", @bartariff) %>
		
		<% @userstariff.each do |usertariff| %>
			<div class="admin-info">
			<h6><%= usertariff[:tariff] %> </h6>
				<% usertariff[:averages].each do |average| %>
					<div class="title">
					<% if average[:service] == 1 and @current_user.admin == 1 %> Energy: <%= average[:average] %> 
					<% elsif average[:service] == 2 and @current_user.admin == 2 %> Water: <%= average[:average] %> 
					<% elsif average[:service] == 3 and @current_user.admin == 3 %> Gas: <%= average[:average] %>
					<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="averageinfo">

		<%= high_chart("barcity", @barcity) %>

		<% @userscity.each do |usercity| %>
			<div class="admin-info">
			<h6><%= usercity[:locale] %> </h6>
				<% usercity[:averages].each do |average| %>
					<div class="title">
					<% if average[:service] == 1 and @current_user.admin == 1 %> Energy: <%= average[:average] %> 
					<% elsif average[:service] == 2 and @current_user.admin == 2 %> Water: <%= average[:average] %> 
					<% elsif average[:service] == 3 and @current_user.admin == 3 %> Gas: <%= average[:average] %>
					<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>


<% end %>


