<div class="w-col w-col-4 w-clearfix", id="#friends">
  <h1>Recently added</h1>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 1</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 2</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 3</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 4</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 5</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 6</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 7</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 8</div>
  </div>
  <div class="user-grid-item">
    <%= image_tag("usercircle.png", class: "usercircleprofile") %>
    <!--<img src="images/User%20circle.png" width="80" alt="52f3183c73df7f296b000533_User%20circle.png">-->
    <div class="user-grid-label">User 9</div>
  </div>
</div>