<div>
  <div class="hero-bg">
    <div class="w-container container-1">
      <h1 class="log-title" id="page-nav-Section-1">Edit <%= resource_name.to_s.humanize %></h1>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="w-form">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
              <%= devise_error_messages! %>

                <div ><%= f.label :name %>
              <%= f.text_field :name, class: "w-input", :placeholder => "Enter your desired name"  %></div>

              <div ><%= f.label :email %>
              <%= f.email_field :email, :autofocus => true, class: "w-input", :placeholder => "Enter your email address" %></div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, class: "w-input" , :autocomplete => "off" %></div>

              <div><%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "w-input" %></div>

              <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, class: "w-input" %></div>

              <div><%= f.submit "Update", class: "w-button" %></div>

            </div>
          </div>


            <div class="w-col w-col-6">
              <div class="w-form">
              <div ><%= f.label :familyname %>
            <%= f.text_field :familyname, class: "w-input", :placeholder => "Enter a name to identify your domicile (example: Family name)"  %></div>

            <div ><%= f.label :address %>
            <%= f.text_field :address, class: "w-input", :placeholder => "Example Calle/Carrera xx # xx-xx" %></div>

            <div ><%= f.label :tariff %>
            <%= select_tag("user[tariff]", options_for_select([
                                                                ["Residencial Estrato 1" , "Residencial Estrato 1"],
                                                                ["Residencial Estrato 2" , "Residencial Estrato 3"],
                                                                ["Residencial Estrato 3" , "Residencial Estrato 3"], 
                                                                ["Residencial Estrato 4" , "Residencial Estrato 4"],
                                                                ["Residencial Estrato 5" , "Residencial Estrato 5"],
                                                                ["Residencial Estrato 6" , "Residencial Estrato 6"],
                                                                ["Comercial Nivel 1" , "Comercial Nivel 1"],
                                                                ["Comercial Nivel 2" , "Comercial Nivel 2"]
                                                              ]), class: 'w-input', prompt: "Select an option") %>
              

              <div><%= f.label :locale %>
            <%= f.text_field :locale,  class: "w-input", :placeholder => "Enter by City, State, Country" %></div>

              <div><%= f.label :avatar %>
            <%= f.file_field :avatar,  class: "w-input", :placeholder => "Upload your Avatar" %></div>

              </div>
            </div>

            <% end %>
      
            </div>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "w-button" %></p>

            <%= link_to "Back", :back %>
          </div>
        </div>
        <div class="pre-sign-up"></div>
      </div>
    </div>
  </div>
