<div>
    <div class="w-container">
      <div class="w-row">		
		<div class="people-list">
		  <h1>All Users</h1>

		  <%= form_tag people_path, :method => 'get', :id => "people_search" do %>
		   <div class="w-row search-box">
            <div class="w-col w-col-10">
              <%= text_field_tag :search, params[:search], class: "w-input", :placeholder => "Search for a member"  %>              
            </div>
            <div class="w-col w-col-2">
              <%= submit_tag "Search", class: "w-button search", :familyname => nil %>             
            </div>
          </div>
      <% end %>
      
        <div id="people"><%= render 'layouts/partials/people'%></div>      
          
		</div>
      </div>
      <%= form_tag people_path , :method => 'get' do %>
        <%= render 'layouts/formsearch/base' %>
      <% end %>
    </div>
</div>

