<% if !@user.admin.nil? then %>
<h1>Admin Network</h1>
<% else %>
<h1>Network</h1>
<% end %>

<div class="w-container">
	<% if !@user.admin.nil? then %>
	<%=		render partial: 'average' %>
	<% else %>
	<%=		render partial: 'grid' %>
	<% end %>

	<div class="w-row">
		<div class="w-col w-col-3new">
			<div class="w-row">
				<div class="w-col w-col-2">
					<%= link_to image_tag("add.png"), new_network_path %>
				</div>
				<div class="w-col w-col-10">
					<h4><%= link_to 'Add to network', new_network_path, class: "profile-sections" %></h4>
				</div>        
			</div>
		</div>
		<div class="w-col w-col-2">
			<div>
				<%= dump_filter_parameters_as_hidden_fields(@users_grid) %>
				<%= form_for '#', method: :get do %>
						<button class="clickable btn" type="submit">View selected</button>
			</div>
		</div>
		<div class="w-col w-col-2">
			<div class="external-buttons">
		        <button class="btn btn-primary wg-external-submit-button" data-grid-name="grid">View filtered</button>
		    </div>
		</div>
	</div>

	<div class="w-row">
		<div class="w-col w-col-3new">
			<div class ="wg-detached-filter">
				<div>Family Name:	<%= grid_filter @users_grid, :familyname_filter %></div>
				
				<div>Classification:	<%= grid_filter @users_grid, :tariff_filter %></div>

				<div>Address:	<%= grid_filter @users_grid, :address_filter %></div>
				
				<div>Locale:	<%= grid_filter @users_grid, :locale_filter %></div>
			</div>
		</div>
		<div class="w-col w-col-10">
			<div class="wice-grid">
				<%= render_grid(@users_grid) %>
				<% end %>
			</div>
		</div>
	</div>


	<%#=	render partial: 'average' %>
	
	<%=	render partial: 'charts' %>

	<%=	render partial: 'charts2' %>

	<div class="w-row">
		<% if @user.admin.nil? or @user.admin == 1 then %>
		<div class="w-row">
			<div class="w-col w-col-6">
				<%= high_stock('chart1', @echart) %>
			</div>
			<div class="w-col w-col-6">
				<%= high_chart('chart2',@eavgchart) %>
			</div>
				<h5>Biggest consumer: <%= link_to @maxe.familyname, profile_path(@maxe.id) unless @maxe.nil? %></h5>
		</div>
		<% end %>
		<% if @user.admin.nil? or @user.admin == 2 then %>
		<div class="w-row">
			<div class="w-col w-col-6">
				<%= high_stock('chart3', @wchart) %>
			</div>
			<div class="w-col w-col-6">
				<%= high_chart('chart4',@wavgchart) %>
			</div>
				<h5>Biggest consumer: <%= link_to @maxw.familyname, profile_path(@maxw.id) unless @maxe.nil?  %></h5>
		</div>
		<% end %>
		<% if @user.admin.nil? or @user.admin == 3 then %>
		<div class="w-row">
			<div class="w-col w-col-6">
				<%= high_stock('chart5', @gchart) %>
			</div>
			<div class="w-col w-col-6" >
				<%= high_chart('chart6',@gavgchart) %>
			</div>
				<h5>Biggest consumer: <%= link_to @maxg.familyname, profile_path(@maxg.id) unless @maxe.nil?  %></h5>
		</div>
		<% end %>
	</div>
</div>
