<% if !@user.admin.nil? then %>
<h1>Admin Network</h1>
<% else %>
<h1>Network</h1>
<% end %>

<div class="w-container">
	<%=	render partial: 'average' %>
	<%=	render partial: 'grid' %>	

	<div class="w-row">
		<div class="w-col w-col-3new">
			<div class="w-row">
				<div class="w-col w-col-2">
					<%= link_to image_tag("add.png"), new_network_path %>
				</div>
				<div class="w-col w-col-10">
					<h4><%= link_to 'Add to network', new_network_path, class: "profile-sections" %></h4>
				</div>        
			</div>
		</div>
		<% if !@results.empty? then %>
		<div class="w-col w-col-2">
			<div class="external-buttons">
		        <button class="btn btn-primary wg-external-submit-button" data-grid-name="grid">View filtered</button>
		    </div>
		</div>
		<div class="w-col w-col-2">
			<div>
				<%= dump_filter_parameters_as_hidden_fields(@users_grid) %>
				<%= form_for '#', method: :get do %>
						<button class="clickable btn" type="submit">View selected</button>
				<% end %>
			</div>
		</div>
	</div>

	<div class="w-row">
		<div class="w-col w-col-3new">
			<div class ="wg-detached-filter">
				<div>Family Name:	<%= grid_filter @users_grid, :familyname_filter %></div>
				
				<div>Classification:	<%= grid_filter @users_grid, :tariff_filter %></div>

				<div>Address:	<%= grid_filter @users_grid, :address_filter %></div>
				
				<div>Locale:	<%= grid_filter @users_grid, :locale_filter %></div>
			</div>
		</div>
		<div class="w-col w-col-10">
			<div class="wice-grid">
				<%= render_grid(@users_grid) %>
				<%= render_grid(@users_grid_average) %>
			</div>
		</div>
	</div>

	<%=	render partial: 'charts' %>

	<div class="w-row">
	<% if @user.admin.nil? then %>
		<div class="w-col w-col-4">
			<%= high_stock('echart',@echart) %>
			<h5>Biggest consumer: <%= link_to @emax.familyname, profile_path(@emax.id) %></h5>
			<h5>Highest bill: <%= @etop %> kWh</h5>
		</div>
		<div class="w-col w-col-4">
			<%= high_stock('wchart',@wchart) %>
			<h5>Biggest consumer: <%= link_to @wmax.familyname, profile_path(@wmax.id) %></h5>
			<h5>Highest bill: <%= @wtop %> m3</h5>
		</div>
		<div class="w-col w-col-4">
			<%= high_stock('gchart',@gchart) %>
			<h5>Biggest consumer: <%= link_to @gmax.familyname, profile_path(@gmax.id)%></h5>
			<h5>Highest bill: <%= @gtop %> m3</h5>
		</div>
	<% elsif @user.admin == 1 %>
		<%= high_stock('echart',@echart) %>
		<h5>Biggest consumer: <%= link_to @emax.familyname, profile_path(@emax.id) %></h5>
		<h5>Highest bill: <%= @etop %> kWh</h5>
	<% elsif @user.admin == 2 %>
		<%= high_stock('wchart',@wchart) %>
		<h5>Biggest consumer: <%= link_to @wmax.familyname, profile_path(@wmax.id) %></h5>
		<h5>Highest bill: <%= @wtop %> m3</h5>		
	<% elsif @user.admin == 3 %>
		<%= high_stock('gchart',@gchart) %>
		<h5>Biggest consumer: <%= link_to @gmax.familyname, profile_path(@gmax.id)%></h5>
		<h5>Highest bill: <%= @gtop %> m3</h5>		
	<% end %>
	</div>
	
	<% end %>
</div>
