<h1>Add to Network</h1>

<%= define_grid(@users_grid, hide_submit_button: true, hide_reset_button: true) do |g|

	g.blank_slate 'There are no more users'

	g.column do |user|
		link_to image_tag(user.avatar.url, class: 'user-image'), profile_path(user.id)
	end

	g.column name: 'Family Name', attribute: 'familyname', auto_reload:  true, detach_with_id: :familyname_filter

	g.column  name: 'Classification', attribute: 'tariff', auto_reload:  true, detach_with_id: :tariff_filter, custom_filter: ["Residencial Estrato 1", "Residencial Estrato 2", "Residencial Estrato 3", "Residencial Estrato 4", "Residencial Estrato 5", "Residencial Estrato 6", "Oficial Nivel 1", "Oficial Nivel 2", "Comercial Nivel 1", "Comercial Nivel 2"]

	g.column name: 'Location', attribute: 'locale', auto_reload:  true, detach_with_id: :locale_filter

	g.column name: 'Status' do |user|
		if current_user.friend_with? user 
			"Already added"
		elsif current_user.invited? user and !current_user.friend_with? user
			"Pending request"
		elsif user.invited? current_user
			"Waiting response"
		end
	end

	g.column  do |user|
		if current_user.friend_with? user
			link_to 'Remove', network_path(user), :method => "delete", data: { confirm: 'Are you sure?' }
		elsif current_user.invited? user
			link_to "Cancel", network_path(user), :method => "delete"
		elsif user.invited? current_user and !current_user.friend_with? user
			link_to "Accept", network_path(user), :method => "put"
		else
			link_to "Add", network_index_path(:user_id => user), :method => "post"
		end
	end

	g.column do |user|
		if user.invited? current_user and !current_user.friend_with? user
			link_to "Reject", network_path(user), :method => "delete"
		end
	end

end -%>

<div class="w-container">
	<div class="w-row">
			<div class="w-col w-col-2">
				<div>Family Name:	<%= grid_filter @users_grid, :familyname_filter %></div>

				<div>Classification:	<%= grid_filter @users_grid, :tariff_filter %></div>

				<div>Locale:	<%= grid_filter @users_grid, :locale_filter %></div>
			</div>
			<div class="w-col w-col-6">
					<%= render_grid(@users_grid) %>
			</div>
		
		<div class="w-col w-col-3" style="margin-Top: 0px">
			<%= render partial: 'layouts/partials/suggestions' %></div>
		</div>
		<div><%= link_to 'Back', :back, class: "clickable btn" %></div>
	</div>

</div>

