<div class="body">
	<div class="mega-icon" style="background-image: url('/assets/delate-icon.svg')"></div>	
	<abbr class="timeago"><%= time_ago_in_words(Time.now) %></abbr>  	
	<div class="title">
		<%= link_to activity.owner.familyname, profile_path(activity.owner_id) if activity.owner %>
		unfriend

		<% if activity.trackable %>
		  <%= activity.trackable %>
		<% else %>
		  which doesn exists anymore
		<% end %>	   		
	</div>
	<div class="details">
		<div class="avatar">
			<%= image_tag @user.avatar.url(:profile) %>
		</div>
		<%= puts "#{activity.parameters['consumption']}" if activity.parameters %>
		<%= puts "#{activity.parameters['value']}" if activity.parameters %>  
	</div>	  	 	
</div>