<div>
	<div class="hero-bg">
	  <div class="w-container container-1">
	    <h1 class="log-title" id="page-nav-Section-1">Resend confirmation instructions</h1>
	    <div class="pre-sign-up">
	      <div class="w-form">
			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div ><%= f.label :email %>
			  <%= f.email_field :email, :autofocus => true, class: "w-input", :placeholder => "Enter your email address" %></div>

			  <div><%= f.submit "Send me reset password instructions", class: "w-button" %></div>

			  <% end %>

			 <%= render "devise/shared/links" %>			
			
	      </div>
	    </div>
	  </div>
	</div>
</div>	
