<div class="w-col w-col-5">
  <h1>My consumption</h1>

  <div class="w-col w-col-2 w-col-small-6 w-col-tiny-6 w-clearfix">
  <table class="table-striped table-bordered table wice-grid">
  <thead>
    <tr>
      <th>Consumption </th>
      <th>Payment value </th>
      <th>Date of bill </th>
      <!--<th></th>
      <th></th>
      <th></th>-->
    </tr>
  </thead>
  </div>

  <tbody>
    <% @user.bills.each do |bill| %>
    <div class="w-col w-col-2 w-col-small-6 w-col-tiny-6 w-clearfix">
      <tr>
        <td><%= bill.consumption %></td>
        <td><%= bill.value %></td>
        <td><%= bill.date %></td>
        <!--<td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

</div>