  <%= image_tag user.avatar.url, class: "neighbor-image" %>
  <%= link_to user.familyname, profile_path(user.id) %>
  <p><strong><%= user.name %></strong>
    <% if user.bills.nil? then %>
      <br>Latest consumption (KW/h): <%= user.bills.order("created_at").last.consumption %>
      <br>Latest payment ($ COP): <%= user.bills.order("created_at").last.value %>
      <% else %>
      <br>Latest consumption (KW/h): 
      <br>Latest payment ($ COP):
    <% end %>      
    <br>Neighbors: <%= user.friends.count(:id) %> </p>
