  <%= image_tag user.avatar.url, class: "neighbor-image" %>
  <h4><%= link_to user.familyname, profile_path(user.id) %></h4>
  <p><strong><%= user.name %></strong>
    <% if !user.bills.empty? then %>
      <br>Latest consumption (KW/h): <strong><%= user.bills.order("created_at").last.consumption %></strong>
      <br>Latest payment ($ COP): <strong><%= user.bills.order("created_at").last.value %></strong>
      <% else %>
      <br>Latest consumption (KW/h):
      <br>Latest payment ($ COP):
    <% end %>      
    <br>Neighbors: <%= user.friends.count(:id) %> </p>
