<div class="section header">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-4 company-column">
        <% if user_signed_in? %>
        <%= link_to (image_tag 'logomuneris.png', class: "logo") , dashboard_path %>
        <% else %>
        <%= link_to (image_tag 'logomuneris.png', class: "logo") , root_path %>
        <% end %>
      </div>
      <div class="w-col w-col-8 nav-bar">

        <% if user_signed_in? and !@user.admin? %>        
          <%= link_to 'Dashboard',dashboard_path, class: "nav-link" %>                        
          <%= link_to 'Profile',profile_path, class: "nav-link" %>
          <%= link_to 'Network',network_index_path, class: "nav-link" %>
          <%= link_to 'Map', map_path, class: "nav-link" %>
          Signed as <%= current_user.familyname %>
          <%= link_to "Sign out", destroy_user_session_path, :class=> "nav-link log-in", :method => :delete %>

        <% elsif user_signed_in? and @user.admin? %> 
          <%= link_to 'Dashboard',dashboard_path, class: "nav-link" %>
          <%= link_to 'Map', map_path, class: "nav-link" %>
          Signed as <%=  'Admin' || current_user.familyname %>
          <%= link_to "Sign out", destroy_user_session_path, :class=> "nav-link log-in", :method => :delete %>

        <% else %>
          <%= link_to "Sign in", new_user_session_path, :class=> "nav-link log-in" %>
          <%= link_to "Sign up", new_user_registration_path, :class=> "nav-link sign-up" %> 
          <%= link_to "Enter with Facebook", user_omniauth_authorize_path(:facebook), :class=> "nav-link sign-up" %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>