<div class="w-col w-col-3 neighbor-options">
  <div>
    <div class="profle-banner">
      <div class="w-form">
      <%= form_tag network_path, :method => 'get', :id => "friends_search" do %>
       <div class="w-row search-box">
            <div class="w-col w-col-10">
              <%= text_field_tag :search, params[:search], class: "w-input", :placeholder => "Search for a neighbor"  %>              
            </div>
            <div class="w-col w-col-2">
              <%= submit_tag "Search", class: "w-button search", :username => nil %>             
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="w-list-unstyled">
    <li>
      <div class="w-row">
        <div class="w-col w-col-2">
          <%= image_tag("pinmapicon.png") %>
          <!--<img src="images/pin-map-icon-2-614x460.png" alt="52f473b62b5f8139190006f1_pin-map-icon-2-614x460.png">-->
        </div>
        <div class="w-col w-col-10">
          <h4 class="profile-sections">Show on map</h4>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-2">
          <%= image_tag("filtericon.png") %>
          <!--<img src="images/filter-icon.png" alt="52f47073bc0395d971000616_filter-icon.png">-->
        </div>
        <div class="w-col w-col-10">
          <h4 class="profile-sections">Add filters</h4>
        </div>
      </div>
    </li>
  </ul>
  <div class="w-row">
    <div class="w-col w-col-2">
      <%= image_tag("button-add.png") %>
      <!--<img src="images/button-add.png" alt="52f438992b5f813919000448_button-add.png">-->
    </div>
    <div class="w-col w-col-10">
      <h4><%= link_to 'Add neighbors',people_path, class: "profile-sections" %></h4>
    </div>
  </div>
</div>