<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="pre-sign-up">
    <div class="w-form">
    	<div class="field">
			<%= f.label :service, "Type of bill service" %>
			<%= select_tag("bill[service]", options_for_select([
																["Enery Bill",1],
			                                                    ["Water Bill",2],
			                                                    ["Gas Bill",3]
		                                          		    	]), class: 'w-input', prompt: "Select an option") %>
		</div>
		<div class="field">
			<%= f.label :consumption, id: 'consum' %>
			<%= f.number_field :consumption, class: "w-input", :step => 'any'%>
		</div>
		<div class="field">
			<%= f.label :value, "Payment ($)" %>
			<%= f.number_field :value, class: "w-input" %>
		</div>
		<div class="field">
			<%= f.label :date %>
			<%= f.date_select :date, class: "w-input", discard_day: 'true'%>
		</div>
	</div>
	<br><br>
  	<div class="actions w-container external-buttons" style="width:100%; position: relative">
		<%= f.submit "Add new bill", class: "w-button clickable" %>
	</div>
  </div>
  
	

<% end %>

<script type="text/javascript">
  var newLabel = 'Consumption';
  $('#bill_service').on('change', function(){
      switch(this.value){
          case '1':
              newLabel = 'Consumption (kWh)';
              break;
          case '2':
              newLabel = 'Consumption (m3)';
              break;
          case '3':
              newLabel = 'Consumption (m3)';
              break;
      }
      $('#consum').text(newLabel);
  }).trigger('change');
</script>
