<h1>Bills</h1>

<% render partial: 'grid' %>

<div class="w-container">
  <div class="w-row">
    <div class="w-col w-col-2">
        <div class="w-row">
          <div class="w-col w-col-2">
            <%= link_to image_tag("add.png"), new_bill_path %>
          </div>
          <div class="w-col w-col-10">
            <h4><%= link_to 'Add new', new_bill_path, class: "profile-sections" %></h4>
          </div>        
        </div>
    </div>
  </div>
  <div class="w-row">
    <div class="w-col w-col-2">
      <div class ="wg-detached-filter">
        <div>Consumption: <%= grid_filter @bills_grid, :consumption_filter %></div>
        
        <div>Payment:  <%= grid_filter @bills_grid, :value_filter %></div>

        <div>Type of bill:  <%= grid_filter @bills_grid, :service_filter %></div>

        <div>Date:	<%= grid_filter @bills_grid, :date_added %></div>
      </div>
    </div>
    <div class="w-col w-col-10">
      <div class="wice-grid">
        <%= render_grid(@bills_grid) %>
      </div>
    </div>
  </div>
  <div class="w-row">
    <div class="w-col w-col-11">
      <%= high_stock("chart", @chart) %>
      <div class="asterisk">*This chart is independent from the above filters.</div>
    </div>
  </div>
</div>




