<p id="notice"><%= notice %></p>

<div class="w-container container-1">
	<p>
	  <strong>Consumption:</strong>
	  <%= @bill.consumption %>
	</p>

	<p>
	  <strong>Value:</strong>
	  <%= @bill.value %>
	</p>

	<p>
	  <strong>Date:</strong>
	  <%= @bill.date %>
	</p>
	<p>
	  <%= link_to 'Edit', edit_bill_path(@bill) %>
	  |
	  <%= link_to 'Back', :back %>
	</p>
</div>